@import "./_font.scss";
@import "./color";
@import "./mixin";

* {
    margin: 0;
    padding: 0;

    // Font
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $color-black-700;
}
